@model IEnumerable<AuthSystem.Models.Guest>
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject AuthDbContext Context

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>"Śpiący Lin" Guestbook</h1>

<h3>
    <a asp-action="Create">Your comments</a>
</h3>

<div class="scroll">
    @foreach (var item in Model)
    {
        var user = Context.Users.FirstOrDefault(x => x.Id == item.ApplicationUserId);
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <p> @Html.DisplayFor(modelItem => item.CurrentText)</p>       
        <p> @Html.DisplayFor(modelItem => user.FirstName)</p>   
        <p>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </p>        
        <hr/>
    }
</div>
